#root {
  text-align: center;
}
@mixin ellipse($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($line > 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  } @else {
    white-space: nowrap;
  }
}

body.dark {
  background-color: #1b1b1b;
  color: #a5a5a5;
  .divider {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .border-bottom {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .no-favorite {
    border-color: white;
  }
}
body {
  @media screen and (max-width: 1024px) {
    background-color: #1b1b1b;
    color: #a5a5a5;
  }
}

body.light {
  background-color: #f1f1f1;
  color: #000;

  .movie-poster__backdrop {
    &:before {
      background-image: url("../public/images/detail_bg_white.png");
      background-size: 100% 100%;
    }
  }
  .review-content {
    p {
      color: #000;
    }
  }
  .parent {
    .child {
      button {
        color: #e4e5e9;
      }
    }
  }
  .movie-tabs-content {
    & > div {
      background-color: #cfcfcf;
    }
  }
  .dashboard,
  .dashboard__review {
    background-color: #c2c2c2;
  }
  .dashboard-nav {
    background-color: #cfcfcf;
  }
  .divider {
    background-color: #000;
  }
  .border-bottom {
    border-color: #000;
  }
  .no-favorite {
    border-color: #000;
  }
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::file-selector-button {
  visibility: hidden;
}
input[type="file"] {
  color: transparent; /* "No file chosen" 텍스트 숨기기 */
}
.custom-upload-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: red;
  border: none;
  cursor: pointer;
}

.inner {
  margin: 0 auto;
  padding-left: 5vw;
  gap: 20px;
}

.movie-popular,
.movie-now,
.movie-coming,
.movie-tabs-content {
  .swiper {
    padding-right: 3rem;

    @media screen and (max-width: 768px) {
      padding-right: 15px;
    }
    &:after {
      content: "";
      display: block;
      width: 10rem;
      height: 100%;
      background: linear-gradient(90deg, rgba(244, 245, 246, 0), #1b1b1b);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}
.light {
  .movie-popular,
  .movie-now,
  .movie-coming,
  .movie-tabs-content {
    .swiper {
      &:after {
        background: linear-gradient(90deg, rgba(244, 245, 246, 0), #f1f1f1);
      }
    }
  }
}

.more-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  &:after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: url("../public/images/right-arrow.png") no-repeat;
    background-size: cover;
  }
}
.movie-search__list {
  display: grid;
  gap: 2vw 15px;
  grid-template-columns: repeat(11, 1fr);

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.movie-poster {
  border-radius: 1rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.movie-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
// .movie-rating::before {
//   content: "";
//   display: block;
//   width: 15px;
//   height: 15px;
//   background: url("../public/images/star.png") no-repeat;
//   background-size: cover;
// }

.movie-detail,
.movie-tab__info {
  .inner {
    padding: 0 5vw;
    // width: 50vw;
    height: auto;
    // padding-left: 0;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
.movie-tab__info {
  .inner {
    padding-right: 0;
  }
}

.movie-detail {
  &.skeleton {
    height: 40rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    .movie-detail__poster-box {
      width: 40%;
      display: flex;
      gap: 30px;
      align-items: flex-end;
      padding-top: 30px;
    }
    .movie-poster {
      padding-bottom: 30%;
      width: 20%;
      // background: red;
      background: #334155;
    }

    .movie-detail__info {
      gap: 20px;
    }

    .movie-title {
      width: 60%;
      min-height: 30px;
      background: #374151;
    }
    .movie-title,
    .movie-detail__rating,
    .movie-detail__genre,
    .movie-detail__overview {
      border-radius: 0.25rem;
    }
    .movie-detail__rating {
      height: 30px;
    }
    .movie-detail__meta {
      display: flex;
      gap: 5px;
    }
    .movie-release,
    .movie-detail__runtime {
      width: 2vw;
      &:after {
        display: none;
      }
    }

    .movie-detail__rating {
      width: 20%;
      height: 30px;
      background: #475569;
    }
    .movie-detail__genres {
      gap: 4px;
      background: inherit;
    }

    .movie-detail__genre {
      width: 1.2vw;
      height: 1vw;
      background: #475569;
    }

    .movie-detail__overview {
      width: 100%;
      height: 80px;
      background: #1e293b;
    }

    .movie-poster__backdrop {
      width: 50%;
      height: 100%;
      background: #1e293b;
    }
    .detail__overview {
      min-height: 72px;
    }
  }
  .inner {
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
  }

  &__visual-box {
    position: relative;
    width: 100%;
    display: flex;
    @media screen and (max-width: 1279px) {
      flex-direction: column-reverse;
    }
  }

  &__poster-box {
    width: 40%;
    display: flex;
    gap: 30px;
    align-items: flex-end;
    padding-top: 30px;
    @media screen and (max-width: 1279px) {
      width: 100%;
    }

    .movie-poster {
      position: relative;
      padding-bottom: 30%;
      width: 20%;

      img {
        position: absolute;
        top: 0;
      }
      @media screen and (max-width: 1279px) {
        display: none;
      }
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    // color: #fff;

    // @media screen and (max-width: 768px) {
    //   padding: 0 5vw;
    // }
  }
  .movie-poster__backdrop {
    position: relative;
    width: 50%;
    height: 100%;
    flex: 1;
    background: #374151;
    @media screen and (max-width: 1279px) {
      width: 100%;
    }
    // @media screen and (max-width: 768px) {
    //   height: 50vw;
    // }
    img {
      height: 100%;
      width: 100%;
    }

    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      background-repeat: no-repeat;
      z-index: 10;
      background-image: url("../public/images/detail_bg.png");
      background-size: 100% 100%;
    }
  }

  &__title-box {
    display: flex;
    justify-content: space-between;
  }

  .movie-title {
    line-height: 1;
    font-size: 30px;
    font-weight: 500;
    @media screen and (max-width: 1700px) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }
  }
  .movie-rating::before {
    width: 20px;
    height: 20px;
    @media screen and (max-width: 768px) {
      width: 15px;
      height: 15px;
    }
  }
  .movie-rating,
  .movie-release {
    display: flex;
    line-height: 1;
    font-size: 20px;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
  .movie-rating {
    align-items: center;
    gap: 5px;
  }
  .movie-detail__meta {
    display: flex;
    gap: 5px;
  }

  .movie-release,
  .movie-detail__runtime,
  .movie-detail__genres {
    font-size: 17px;
    line-height: 1;

    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
  .movie-release,
  .movie-detail__runtime,
  &__genre {
    padding: 4px;
  }

  .movie-release,
  .movie-detail__runtime {
    display: flex;
    align-items: center;
    &:after {
      font-size: 0;
      content: "";
      display: block;
      width: 0.2rem;
      height: 0.2rem;
      background-color: #fff;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  &__genre {
    border-radius: 5px;
    border: 0.5px solid gray;
    font-size: 0.9rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__genres {
    display: flex;
    gap: 3px;
  }

  &__overview {
    font-size: 16px;
    text-align: left;

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}

.movie-top {
  position: relative;
  .swiper-slide {
    width: auto !important;

    @media screen and (max-width: 1700px) {
      width: 85vw !important;
    }
  }
  .movie-poster {
    position: relative;
    min-width: 1240px;
    padding-bottom: calc((655 / 1600) * 100%) !important;
    @media screen and (max-width: 1700px) {
      padding-bottom: 53% !important;
    }
    @media screen and (max-width: 768px) {
      min-width: auto;
      padding-bottom: 130% !important;
    }
    .movie-poster {
      position: absolute !important;
      top: 0 !important;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    opacity: 0.5;
    transition: 0.3s;
    @media screen and (max-width: 768px) {
      display: none;
    }

    &:hover {
      opacity: 1;
    }

    &::after {
      font-size: 30px;
      font-weight: 900;
    }
  }

  .swiper-button-prev {
    left: 27%;
    @media screen and (max-width: 1700px) {
      left: 4%;
    }
  }

  .swiper-button-next {
    right: calc(27%);
    @media screen and (max-width: 1700px) {
      right: 4%;
    }
  }

  .swiper {
    .swiper-pagination {
      position: absolute;
      bottom: 20px;
      left: auto;
      right: calc(50% - 620px);
      transform: translate(-50%);
      background-color: rgba(0, 0, 0, 0.6);
      padding: 4px 10px;
      color: #fff;
      border-radius: 20px;
      width: auto;
      height: auto;
      z-index: 10;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .swiper-pagination-current {
      font-size: 0.9rem;
    }
    .swiper-pagination-total {
      display: flex;
      align-items: center;
      justify-content: center;
      color: hsla(0, 0%, 100%, 0.7);

      &::before {
        display: block;
        margin: 0 10px;
        width: 1px;
        height: 10px;
        background-color: hsla(0, 0%, 100%, 0.2);
        content: "";
      }
    }
    .swiper-slide-duplicate {
      display: none;
    }
  }
}
.favorite-btn {
  width: 3rem;
  height: 3rem;
  top: 10px;
  right: 10px;
  @media screen and (max-width: 768px) {
    width: 2.3rem;
    height: 2.3rem;
    top: 5px;
    right: 5px;
  }
  .bookmark {
    width: 2rem;
    height: 2rem;
    @media screen and (max-width: 768px) {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}
.movie-popular,
.movie-now,
.movie-coming,
.movie-popular-infinite,
.movie-sisunzip,
.movie-search,
.movie-detail__poster-box,
.movie-tab__info {
  .movie-poster {
    .bookmark {
      img {
        position: static !important;
      }
    }
  }
}
.movie-popular-infinite {
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
  @media screen and (max-width: 768px) {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.movie-popular,
.movie-now,
.movie-coming {
  .movie-poster {
    position: relative;
    padding-bottom: calc((360 / 240) * 100%);
    img {
      position: absolute !important;
      top: 0 !important;
    }
  }
  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }
}

.dashboard__review,
.dashboard-favorite {
  padding: 1rem 2.5rem;
  @media screen and (max-width: 768px) {
    // padding: 0 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 5px;
  }
  .movie-poster {
    width: 20%;
    padding-bottom: 20%;
    position: relative;
    img {
      position: absolute;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
    @media screen and (max-width: 768px) {
      width: 40%;
      padding-bottom: 50%;
    }
  }
}
.dashboard__review {
  @media screen and (max-width: 1700px) {
    .multi-line-ellipsis {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; // 원하는 줄 수
    }
  }
}

.dashboard-favorite {
  .movie-poster {
    width: 100%;
    padding-bottom: 70%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.my-review {
  .movie-poster {
    position: relative;
    padding-bottom: 100%;
    width: 10vw;
    img {
      position: absolute;
      top: 0;
      object-fit: contain;
      object-position: top;
    }
  }
}
.my-favorite {
  .movie-poster {
    .bookmark {
      img {
        position: static !important;
      }
    }
  }
}

.trending-people {
  .inner {
    padding-right: 5vw;
  }
  .people-area {
    grid-template-columns: repeat(7, 1fr);
    @media screen and (max-width: 1700px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .movie-poster {
    position: relative;
    padding-bottom: calc((360 / 240) * 100%);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      pointer-events: none;
    }
    img {
      position: absolute;
      top: 0;
    }
  }
  .vertical-text {
    writing-mode: vertical-rl;
    white-space: pre-wrap;
  }
  .item-text:nth-child(2)::before,
  .item-text:nth-child(2)::after {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    background-color: blue;
    margin: 0 10px;
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  line-height: 1;

  &::after {
    content: "";
    width: 7px;
    height: 7px;
    background: #6201e0;
    margin-left: 3px;
  }
}

.util-link {
  background: #6201e0;
  font-size: 10px;
  padding: 10px;
  border-radius: 50%;
  @media screen and (max-width: 768px) {
    &::after {
      width: 13px;
      height: 13px;
    }
    grid-template-columns: repeat(4, 1fr);
  }
  // &:after {
  //   content: "";
  //   display: block;
  //   width: 23px;
  //   height: 23px;
  //   background: url("../public/images/user.png") no-repeat;
  //   background-size: cover;
  // }
}

.search-box {
  display: flex;
  position: relative;

  input {
    font-size: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 3px;
    width: 25px;
    height: 25px;
    background: url("../public/images/Ico_search.png") no-repeat center / cover;
  }
}

// pulse animation
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.social-login {
  margin-top: 50px;
  font-size: 1.3rem;
  position: relative;

  &:before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #464646;
    top: 50%;
    width: 30%;
    height: 1px;
    @media screen and (max-width: 820px) {
    }
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
.kakao-login,
.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3.7rem;
  height: 3.7rem;
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.kakao-login {
  background: #fee500;
}
.google-login {
  background: #fff;
}
.auth-error {
  display: flex;
  align-items: center;
  gap: 10px;
  &::before {
    content: "";
    display: block;
    background: url("../public/images/warning.png") no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
  }
}

.welcome {
  &::before {
    content: "";
    display: block;
    background: url("../public/images/images.png") no-repeat;
    background-size: cover;
    width: 30rem;
    height: 20rem;
  }
}

.review-content {
  max-height: 224px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  &.expanded {
    max-height: 600px;
  }
}
.review-content__text {
  @include ellipse(4);
}

.star {
  color: #ffc107;
  width: auto;
  pointer-events: none;
}

.star-rating {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
  color: #e4e5e9;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1700px) {
    font-size: 1.5rem;
  }
  &.my-star {
    font-size: 1rem;
  }
}

.star-back {
  color: #e4e5e9; /* 회색 빈 별 */
}

.star-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.my-page {
  @media screen and (max-width: 1279px) {
    flex-direction: column;
  }
  .my-page-nav {
    flex-direction: row;
    padding-bottom: 0;
  }
}
