@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixgamer";
  src: url("/fonts/PixgamerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
